{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "error",
    "semi": ["error", "never"],
    "semi-style": ["error", "last"],
    "no-extra-semi": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 2 }]
  }
}